<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="principal">
    <a href="/api/home">
      <img src="../../assets/logoCompletaAzul.png" class="principalLogoLiber">
    </a>
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="logar()">  
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Login</mat-label>
          <input formControlName="login" matInput placeholder="Digite o login" name="login"/>
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Senha</mat-label>
          <input formControlName="senha" matInput placeholder="Digite a senha" name="senha" />
        </mat-form-field>
        
        <button mat-raised-button color="primary" class="principalBotao">LOGIN</button>
      </form>

     
</div>
  
</body>
</html>

