<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="secundario">
    <section class="secundarioSlogan">
      <p>"A LIBERDADE PARA ADQUIRIR CONHECIMENTO"</p><br><br>
      <a href="/usuario">
        <button mat-raised-button color="primary" class="secundarioSloganBotao">CRIAR CONTA</button>
      </a>
      </section>

    <section class="secundarioDescricao">
      <img src="../../assets/livros.png" class="secundarioDescricaoImg">
      <p>O MAIOR ACERVO DE EBOOKS DO BRASIL, COM ACESSO DE FORMA SIMPLES E DESCOMPLICADA!</p>
    </section>
  </div>
</body>
</html>
